In [1]:
import pyspark as ps
from pyspark.sql import SQLContext
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml import Pipeline
from pyspark.sql import Row
from pyspark.ml.recommendation import ALS
from pyspark.sql.functions import udf, col, when
import numpy as np
from IPython.display import Image
from IPython.display import display

In [3]:
spark = ps.sql.SparkSession.builder \
                .master("local") \
                .appName("Book recommandation System") \
                .getOrCreate()

sc = spark.sparkContext
sqlContext = SQLContext(sc)

ratings_df = spark.read.csv('Goodbooks-10k/ratings.csv', header=True, inferSchema=True)
ratings_df.printSchema()

root
 |-- book_id: integer (nullable = true)
 |-- user_id: integer (nullable = true)
 |-- rating: integer (nullable = true)

In [4]:
ratings_df.show(10)

+-------+-------+------+
|book_id|user_id|rating|
+-------+-------+------+
|      1|    314|     5|
|      1|    439|     3|
|      1|    588|     5|
|      1|   1169|     4|
|      1|   1185|     4|
|      1|   2077|     4|
|      1|   2487|     4|
|      1|   2900|     5|
|      1|   3662|     4|
|      1|   3922|     5|
+-------+-------+------+
only showing top 10 rows

In [5]:
books_df = spark.read.csv('Goodbooks-10k/books.csv', header=True, inferSchema=True)
books_df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- book_id: integer (nullable = true)
 |-- best_book_id: integer (nullable = true)
 |-- work_id: integer (nullable = true)
 |-- books_count: integer (nullable = true)
 |-- isbn: string (nullable = true)
 |-- isbn13: double (nullable = true)
 |-- authors: string (nullable = true)
 |-- original_publication_year: double (nullable = true)
 |-- original_title: string (nullable = true)
 |-- title: string (nullable = true)
 |-- language_code: string (nullable = true)
 |-- average_rating: string (nullable = true)
 |-- ratings_count: string (nullable = true)
 |-- work_ratings_count: string (nullable = true)
 |-- work_text_reviews_count: string (nullable = true)
 |-- ratings_1: double (nullable = true)
 |-- ratings_2: integer (nullable = true)
 |-- ratings_3: integer (nullable = true)
 |-- ratings_4: integer (nullable = true)
 |-- ratings_5: integer (nullable = true)
 |-- image_url: string (nullable = true)
 |-- small_image_url: string (nullable = true)

In [6]:
books_df.show(5)

+---+-------+------------+-------+-----------+---------+----------------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
| id|book_id|best_book_id|work_id|books_count|     isbn|          isbn13|             authors|original_publication_year|      original_title|               title|language_code|average_rating|ratings_count|work_ratings_count|work_text_reviews_count|ratings_1|ratings_2|ratings_3|ratings_4|ratings_5|           image_url|     small_image_url|
+---+-------+------------+-------+-----------+---------+----------------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
|  1|2767052|     2767052|2792775|        272|439023483|9.78043902348E12|     Suzanne Collins|                   2008.0|    The Hunger Games|The Hunger Games ...|          eng|          4.34|      4780653|           4942365|                 155254|  66715.0|   127936|   560092|  1481305|  2706317|https://images.gr...|https://images.gr...|
|  2|      3|           3|4640799|        491|439554934|9.78043955493E12|J.K. Rowling, Mar...|                   1997.0|Harry Potter and ...|Harry Potter and ...|          eng|          4.44|      4602479|           4800065|                  75867|  75504.0|   101676|   455024|  1156318|  3011543|https://images.gr...|https://images.gr...|
|  3|  41865|       41865|3212258|        226|316015849|9.78031601584E12|     Stephenie Meyer|                   2005.0|            Twilight|Twilight (Twiligh...|        en-US|          3.57|      3866839|           3916824|                  95009| 456191.0|   436802|   793319|   875073|  1355439|https://images.gr...|https://images.gr...|
|  4|   2657|        2657|3275794|        487| 61120081|9.78006112008E12|          Harper Lee|                   1960.0|To Kill a Mocking...|To Kill a Mocking...|          eng|          4.25|      3198671|           3340896|                  72586|  60427.0|   117415|   446835|  1001952|  1714267|https://images.gr...|https://images.gr...|
|  5|   4671|        4671| 245494|       1356|743273567|9.78074327356E12| F. Scott Fitzgerald|                   1925.0|    The Great Gatsby|    The Great Gatsby|          eng|          3.89|      2683664|           2773745|                  51992|  86236.0|   197621|   606158|   936012|   947718|https://images.gr...|https://images.gr...|
+---+-------+------------+-------+-----------+---------+----------------+--------------------+-------------------------+--------------------+--------------------+-------------+--------------+-------------+------------------+-----------------------+---------+---------+---------+---------+---------+--------------------+--------------------+
only showing top 5 rows

In [7]:
training_df, validation_df = ratings_df.randomSplit([.8, .2])

In [8]:
iterations = 10
regularization_parameter = 0.1 #lambda
rank = 4
errors = []
err = 0

In [9]:
for rank in range(4, 7):
    als = ALS(maxIter=iterations, regParam=regularization_parameter,
              rank=rank, userCol="user_id", itemCol="book_id", ratingCol = "rating")
    model = als.fit(training_df)
    predictions = model.transform(validation_df)
    new_predictions = predictions.filter(col('prediction') != np.nan)
    evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                    predictionCol="prediction")
    rmse = evaluator.evaluate(new_predictions)
    print("Root Mean Square Error value = " + str(rmse))

Root Mean Square Error value = 0.8853709000484015
Root Mean Square Error value = 0.8974480426862737
Root Mean Square Error value = 0.8987069465513021

In [10]:
als = ALS(maxIter=iterations, regParam=regularization_parameter,
          rank=7, userCol="user_id", itemCol="book_id", ratingCol = "rating")
model = als.fit(training_df)
predictions = model.transform(validation_df)
new_predictions = predictions.filter(col('prediction') != np.nan)
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating",
                                predictionCol="prediction")
rmse = evaluator.evaluate(new_predictions)
print("Root Mean Square Error value = " + str(rmse))

Root Mean Square Error value = 0.9033742307924921

In [11]:
predictions = model.transform(validation_df)
predictions.show( n = 5)

+-------+-------+------+----------+
|book_id|user_id|rating|prediction|
+-------+-------+------+----------+
|    148|  20467|     3| 2.9529386|
|    148|  28767|     3| 2.9450974|
|    148|  22164|     3|  3.221171|
|    148|  24326|     5| 3.4686005|
|    148|  13034|     4| 3.4333458|
+-------+-------+------+----------+
only showing top 5 rows

In [12]:
predictions.join(books_df, "book_id").select("user_id","title","prediction").show(3)

+-------+----------+----------+
|user_id|     title|prediction|
+-------+----------+----------+
|  12466|Lysistrata| 3.8859563|
|  36623|Lysistrata| 4.0373573|
|  21748|Lysistrata|   3.80092|
+-------+----------+----------+
only showing top 3 rows

In [13]:
user_rabie_test = predictions.filter(col("user_id")==35982).join(books_df, "book_id")
.select("user_id","title","image_url", "prediction")
user_rabie_test.show()

SyntaxError: invalid syntax (<ipython-input-13-b2dd9d635534>, line 2)

In [14]:
for_one_user = predictions.filter(col("user_id")==35980).join(books_df, "book_id")
.select("user_id","title","image_url", "prediction")
for_one_user.show()

SyntaxError: invalid syntax (<ipython-input-14-28cd63988bf6>, line 2)

In [15]:
user_rabie_test = predictions.filter(col("user_id")==35981).join(books_df, "book_id").select("user_id","title","image_url", "prediction")
user_rabie_test.show()

+-------+--------------------+--------------------+----------+
|user_id|               title|           image_url|prediction|
+-------+--------------------+--------------------+----------+
|  35982|The Iliad/The Ody...|https://s.gr-asse...| 3.2619503|
|  35982|Veronika Decides ...|https://s.gr-asse...| 3.6908393|
|  35982|    Tropic of Cancer|https://images.gr...| 3.3640935|
+-------+--------------------+--------------------+----------+

In [16]:
for book in user_rabie_test.take(10):
    print(book.title)
    display(Image(url=book.image_url))

The Iliad/The Odyssey

Veronika Decides to Die

Tropic of Cancer

In [17]:
user_rabie_test = predictions.filter(col("user_id")==35981).join(books_df, "book_id").select("user_id","title","image_url", "prediction")
user_rabie_test.show()

+-------+-----+---------+----------+
|user_id|title|image_url|prediction|
+-------+-----+---------+----------+
+-------+-----+---------+----------+